# List of all project dependencies

go get -u gorm.io/gorm
go get -u gorm.io/driver/postgres
go get -u github.com/golang-jwt/jwt/v5
go get -u github.com/gin-gonic/gin
go get -u github.com/joho/godotenv
go get -u github.com/redis/go-redis/v9
go get -u github.com/markbates/goth 
go get -u golang.org/x/oauth2/google
go get -u github.com/markbates/goth/gothic@v1.80.0
